---
layout: layouts/home.njk
permalink: /notes/
eleventyNavigation:
  key: Notes
  order: 4
---

{% set maxNotes = collections.notes.length %}
<h1>Latest {% if maxNotes == 1 %}Note{% else %}{{ maxNotes }} Notes{% endif %}</h1>

{% set noteslist = collections.notes  %}
{% include "noteslist.njk" %}

